/.dist
/datosEntradaPred.txt
/Demostración comentada de la práctica de control.mov
/Informe de la práctica de control.docx
/Informe de la práctica de control.pdf
/informePrioridadColor.txt
/informePrioridadMenor.txt